<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="bg-primary">
    <div class="container-logo">
        <img src="../assets/imgs/bg-white.png" class="img-logo" alt="">
    </div>

    <div class="container-form">
        <div *ngIf="login">
            <input [(ngModel)]="email" type="email" class="input-blank input-border_down" placeholder="{{'Login.Email' | translate}}">
            <input [(ngModel)]="password" type="password" class="input-blank" placeholder="{{'Login.Password' | translate}}">
            <br><br>
            <button (click)="procesarLogin()" class="btn btn-action">{{"Login.Login" | translate}}</button>
            <br><br><br>
        </div>
        <div *ngIf="!login ">
            <input [(ngModel)]="name" type="text" class="input-blank input-border_down" placeholder="{{'Login.Nombre' | translate}}">
            <input [(ngModel)]="phone" type="tel" class="input-blank input-border_down" placeholder="{{'Login.Telefono' | translate}}">
            <input [(ngModel)]="email_r" type="email" class="input-blank input-border_down" placeholder="{{'Login.Email' | translate}}">
            <input [(ngModel)]="password_r" type="password" class="input-blank" placeholder="{{'Login.Password' | translate}}">
            <br><br>
            <button (click)="procesarRegistro()" class="btn btn-action">{{"Login.Registro" | translate}}</button>
            <br><br><br>
        </div>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <button (click)="procesarTwitter()" class="btn btn-twitter "><i class="fa fa-twitter " aria-hidden="true "></i></button>
                </ion-col>
                <ion-col>
                    <button (click)="procesarFacebook()" class="btn btn-facebook "><i class="fa fa-facebook " aria-hidden="true "></i></button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>

<ion-footer no-border>
    <ion-grid class="no-space" no-padding>
        <ion-row justify-content-center no-padding>
            <ion-col no-padding>
                <button (click)="activeFormRegistro()" class="btn-actions " [ngClass]="{'active' : (login)}"><svg aria-hidden="true " data-prefix="fas " data-icon="user-shield " class="svg-inline--fa fa-user-shield fa-w-20 " role="img " xmlns="http://www.w3.org/2000/svg " viewBox="0 0 640 512 "><path fill="currentColor
                        " d="M622.3 271.1l-115.2-45c-4.1-1.6-12.6-3.7-22.2 0l-115.2 45c-10.7 4.2-17.7 14-17.7 24.9 0 111.6 68.7 188.8 132.9 213.9 9.6 3.7 18 1.6 22.2 0C558.4 489.9 640 420.5 640 296c0-10.9-7-20.7-17.7-24.9zM496 462.4V273.3l95.5 37.3c-5.6 87.1-60.9
                        135.4-95.5 151.8zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm96 40c0-2.5.8-4.8 1.1-7.2-2.5-.1-4.9-.8-7.5-.8h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0
                        26.5 21.5 48 48 48h352c6.8 0 13.3-1.5 19.2-4-54-42.9-99.2-116.7-99.2-212z "></path></svg></button>
            </ion-col>
            <ion-col>
                <button (click)="disactiveFormRegistro()" class="btn-actions " [ngClass]="{'active' : (!login)}"><svg aria-hidden="true " data-prefix="fas " data-icon="user-plus " class="svg-inline--fa fa-user-plus fa-w-20 " role="img " xmlns="http://www.w3.org/2000/svg " viewBox="0 0 640 512 "><path fill="currentColor
                        " d="M624 208h-64v-64c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v64h-64c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h64v64c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-64h64c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm-400 48c70.7 0 128-57.3
                        128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z "></path></svg></button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>