page-login {
    .link-white {
        color: #fff;
    }
    .bg-primary {
        background-color: #3880FF;
        color: #fff;
        font-family: 'Comfortaa', Regular
    }
    .container-logo {
        width: 100%;
        text-align: center;
    }
    .btn {
        padding: 10px;
        width: 100%;
        font-size: 16px;
        -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.75);
    }
    .btn-login {
        background-color: #7CAFFF;
        color: #fff;
    }
    .btn.active {
        border-top: 1px solid #fff;
    }
    .btn-twitter {
        background-color: #39AAF3;
        color: #fff;
    }
    .btn-facebook {
        background-color: #3D539E;
        color: #fff;
    }
    .input-blank {
        background-color: #fff;
        width: 100%;
        padding: 12px;
        color: #707070;
        border: 0px;
    }
    .input-border_down {
        border-bottom: 1px solid #F2F2F2;
    }
    .img-logo {
        margin-top: 30px;
        width: 140px;
        height: 140px;
    }
    .container-form {
        margin-top: 30px;
    }
    .btn-action {
        background-color: #4DD87B;
        color: #fff;
        border-radius: 10px;
        transition: all .3s;
    }
    .btn-action:hover {
        color: #4DD87B;
        background-color: #fff;
        -webkit-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.65);
        box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.65);
    }
    .tabs-actions {
        width: 100%;
        padding: 0px!important;
        margin: 0px!important;
        display: inline-block;
    }
    .btn-actions {
        padding: 6px;
        width: 100%;
        color: #fff;
        background-color: map-get($colors, light) !important;
        border-top: 2px solid map-get($colors, light);
    }
    .btn-actions.active {
        border-top: 2px solid #fff !important;
    }
    .btn-actions svg {
        height: 26px;
    }
    .no-space {
        margin: 0px!important;
        padding: 0px!important
    }
    ion-item {
        ion-label {
            padding: 10px !important;
            margin: 0px !important;
        }
        margin: 0px !important;
        //padding: 0px !important;
        color: map-get($colors, danger) !important;
        font-size: 13px !important;
        background: #f3f3f3!important;
        border-radius: 60px;
        margin-bottom: 10px;
    }
}