page-opinion-single {
    * {
        color: #707070;
        font-size: 12px;
    }
    h2 {
        font-size: 17px;
        padding-bottom: 5px;
        border-bottom: 1px solid #7070701C;
    }
    .txtOpinion {
        padding: 5px;
        color: #707070;
        margin-top: 20px;
        height: 200px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #E2E2E2;
    }
    .img-circle {
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
    .btn-save {
        border-radius: 5px;
        padding: 7px;
        width: 100%;
        background-color: map-get($colors, secondary);
        font-size: 14px;
        color: white;
    }
    .btn-addPic {
        height: 70px;
        width: 70px;
        text-align: center;
        background-color: #A2A2A21D;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn-addPic ion-icon {
        font-size: 35px;
        color: #707070;
    }
    .container-pics {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        min-height: 90px;
    }
    image-placeholder {
        display: inline;
    }
    .tmpImg {
        margin: 10px;
    }
    ul {
        padding: 0px;
        margin: 2px!important;
        float: right;
        &.rating li {
            padding: 0px !important;
            background: none;
            color: map-get($colors, primary)!important;
            ;
            ion-icon {
                font-size: 20px;
                color: map-get($colors, primary)!important;
            }
        }
    }
    img[src*='null'] {
        display: none;
    }
}