<!--
  Generated template for the OpinionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

<!--</ion-header>-->


<ion-content>
    <div class="header">
        <img class="img-round img-profile" [src]="userPicture" alt="" srcset="">
        <div class="info">
            <span class="name">{{username}}</span>
            <div class="separator"></div>
            <span class="number">{{numberChats}} {{"Chat.Conversaciones" | translate}} </span>
        </div>
    </div>
    <ion-grid no-padding>
        <ion-row class="tabs-actions">
            <ion-col>
                <button (click)="changeViewMessages()" class="btn-actions " [ngClass]="{'active' : (messages)}">{{"Chat.Mensajes" | translate}}</button>
            </ion-col>
            <ion-col>
                <button (click)="changeViewRequests()" class="btn-actions " [ngClass]="{'active' : (!messages)}">{{"Chat.Solicitudes" | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="list-conversations" *ngIf="messages ">

        <div class="single-conversation border-down" (click)="openConversation(msj.idchat)" *ngFor="let msj of MessageList">
            <ion-grid>
                <ion-row>
                    <ion-col col-3>
                        <img class="img-circle img-inbox" [src]="msj.profileTo">
                    </ion-col>
                    <ion-col col-9>
                        <ion-row>
                            <ion-col col-9>
                                <span class="name-inbox">{{msj.nameTo}}</span>
                            </ion-col>
                            <ion-col col-3>
                                <span class="hour-inbox">{{msj.date}}</span>
                            </ion-col>
                        </ion-row>
                        <span class="message-abs">{{msj.abstract}}</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

    </div>

    <div class="list-conversations" *ngIf="!messages ">
        <div class="single-conversation border-down" (click)="openConversation(msj.idchat)" *ngFor="let msj of MessageListRequests">
            <ion-grid>
                <ion-row>
                    <ion-col col-3>
                        <img class="img-circle img-inbox" [src]="msj.profileTo">
                    </ion-col>
                    <ion-col col-9>
                        <ion-row>
                            <ion-col col-9>
                                <span class="name-inbox">{{msj.nameTo}}</span>
                            </ion-col>
                            <ion-col col-3>
                                <span class="hour-inbox">{{msj.date}}</span>
                            </ion-col>
                        </ion-row>
                        <span class="message-abs">{{msj.abstract}}</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>

</ion-content>