<!--
  Generated template for the SingleUniversityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <button class="btnFav"><i class="fa fa-heart"></i></button>
    <ion-slides autoplay class="slide-featureimg">
        <ion-slide *ngFor="let imag of listIms">
            <img class="img-feature" [src]="imag.imgsrc" imageViewer>
        </ion-slide>
    </ion-slides>
    <div class="ctrol-header">
        <button (click)="openBrowser()" class="link" href="">{{"Universidad.Sitioweb" | translate}}</button>
        <button (click)="openCall()" class="link" href="">{{"Universidad.Telefono" | translate}}</button>
        <button (click)="openMap()" class="link" href="">{{"Universidad.Mapa" | translate}}</button>
        <button (click)="openWriteReviewPage()" class="btn-review" href="">{{"Universidad.Opinar" | translate}}</button>
    </div>
</ion-header>

<ion-content padding>
    <h1>{{name}}</h1>
    <p>{{address}}</p>
    <p>{{"Universidad.CreadoPor" | translate}} <span class="bold">{{userCreated}}</span></p>
    <br>
    <h2>{{"Universidad.Global" | translate}}</h2>
    <div class="panel-score-main">
        <ion-grid>
            <ion-row>
                <!--scores specifics-->
                <ion-col col-9>
                    <ion-row>
                        <ion-col col-5>
                            {{"Ratings.Instalaciones" | translate}}
                        </ion-col>
                        <ion-col col-7>
                            <rating [(ngModel)]="rateInstalaciones" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelInstalaciones($event)"></rating>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-5>
                            {{"Ratings.Profesores" | translate}}
                        </ion-col>
                        <ion-col col-7>
                            <rating [(ngModel)]="rateProfesores" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelProfesores($event)"></rating>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-5>
                            {{"Ratings.Ubicacion" | translate}}
                        </ion-col>
                        <ion-col col-7>
                            <rating [(ngModel)]="rateUbicacion" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelUbicacion($event)"></rating>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-5>
                            {{"Ratings.Actividades" | translate}}
                        </ion-col>
                        <ion-col col-7>
                            <rating [(ngModel)]="rateActividades" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelActividades($event)"></rating>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-5>
                            {{"Ratings.Becas" | translate}}
                        </ion-col>
                        <ion-col col-7>
                            <rating [(ngModel)]="rateBecas" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelBecas($event)"></rating>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <!--score general-->
                <ion-col>
                    <div class="circle-number">
                        <span class="number">{{rateGeneral}}</span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <br>

    <!--cards for carrers-->
    <h2>{{"Universidad.Carreras" | translate}}</h2>
    <ion-slides class="slide-carrers" slidesPerView="1.4" spaceBetween="20">

        <ion-slide class="bg-gradient" *ngFor="let carrers of listCarrers ">
            <!--1-->
            <ion-card>
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col text-center center>
                                {{carrers.nombre}}
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide class="bg-gradient" (click)="addCarrer()">
            <!--1-->
            <ion-card>
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col text-center center>
                                {{"Universidad.AñadirCarrera" | translate}}
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-slide>

    </ion-slides>

    <!--init verified-->
    <br><br>
    <h2>{{"Universidad.Inicio" | translate}}</h2>
    <div class="list-for-months">
        <div class="single-month" *ngFor="let month of listMonths">
            <ion-grid>
                <ion-row>
                    <ion-col col-1>
                        <i class="check fa fa-check-circle"></i>
                    </ion-col>
                    <ion-col col-10>
                        <span>{{month.nombre}}</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="single-month" (click)="addMonth()">
            <ion-grid>
                <ion-row>
                    <ion-col col-1>
                        <i class="check fa fa-plus"></i>
                    </ion-col>
                    <ion-col col-10>
                        <span>{{"Universidad.EditarMeses" | translate}}</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <!--end verified-->
    <!--init verified-->
    <br><br>
    <!--end verified-->
    <div class="content-reviews">
        <div class="single-review" *ngFor="let review of listReviews">
            <ion-grid>
                <ion-row>
                    <ion-col col-2>
                        <img class="img-circle" [src]="review.imgsrc" alt="">
                    </ion-col>
                    <ion-col>
                        <span class="txtName">{{review.username}}</span>
                        <br>
                        <span class="txtDate">{{review.time}}</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <p>{{review.content}}</p>
                </ion-row>
                <ion-row>
                    <ion-slides class="slide-img-userUniversities" slidesPerView="2" spaceBetween="16">
                        <ion-slide *ngFor="let image of review.images">
                            <img [src]="image.imgurl" imageViewer>
                        </ion-slide>
                    </ion-slides>
                </ion-row>
                <ion-row>
                    <ion-col col-1>
                        <button (click)="notFav(review.id_review)" class="ctrol-Action">
                                <ion-icon name="thumbs-down"></ion-icon>
                            </button>
                    </ion-col>
                    <ion-col col-1>
                        <button (click)="Fav(review.id_review)" class="ctrol-Action">
                                <ion-icon name="thumbs-up"></ion-icon>
                            </button>
                    </ion-col>
                    <ion-col col-6></ion-col>
                    <ion-col col-4>
                        <button (click)="initChat(review.id_username)" class="ctrol-Action btn-chat">{{"Tabs.Chat" | translate}}</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>