page-profile {
    * {
        color: #707070;
    }
    .header-container {
        padding: 15px;
        text-align: center;
        background-color: map-get($colors, primary);
    }
    img.photo-user {
        border-radius: 50%;
        width: 130px;
        height: 130px;
    }
    .ctrol-profile {
        width: 100%;
    }
    .btn {
        width: 35px;
        height: 35px;
    }
    .btn-circle {
        border-radius: 50%;
    }
    .white {
        background-color: #ffF;
        color: map-get($colors, primary);
    }
    .right {
        float: right;
    }
    .left {
        float: left;
    }
    input,
    .input {
        margin-top: 5px;
        width: 100%;
        padding: 14px;
        background-color: #fff;
        border: 0px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.65);
        box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.65);
    }
    ion-icon {
        color: map-get($colors, primary);
        font-size: 18px;
        font-weight: 600px;
    }
    .btn-save {
        width: 100%;
        background-color: map-get($colors, secondary);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
        border-radius: 5px;
        text-transform: lowercase;
        font-size: 14px;
        transition: all .17s;
        -webkit-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.65);
        box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.65);
    }
    .btn-save:hover {
        background-color: #fff;
        color: map-get($colors, secondary);
        border: 1px solid map-get($colors, secondary);
    }
    label.slide {
        font-size: 12px;
    }
}