page-home {
    .search-toolbar {
        text-align: center;
        padding: 20px;
        background-color: map-get($colors, primary);
    }
    i {
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 17px !important;
        color: #BFBFBF;
    }
    .txt-search {
        width: 100%;
        height: 40px;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
        padding-left: 35px;
    }
    .txt-search::placeholder {
        color: #BFBFBF;
    }
    .title {
        font-size: 17px;
        color: #707070;
    }
    ion-card-title span {
        color: #707070;
        font-size: 14px;
    }
    .card-text {
        color: #A0A0A0;
        font-size: 10px;
    }
    .btn-show {
        background-color: map-get($colors, secondary);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
        border-radius: 5px;
        text-transform: lowercase;
    }
    .img-round {
        border-radius: 10px;
        background-color: map-get($colors, primary);
    }
    #map_canvas {
        margin-top: 10px;
        border-radius: 5px;
        display: block;
        height: 300px;
        width: 100%;
        //background: map-get($colors, light);
    }
    .single-university {
        border: 2px solid #F5F5F5;
    }
    .list-universities-nearby,
    .list-universities-valuet {
        margin-bottom: 15px;
    }
    .img-circle {
        border-radius: 50%;
    }
    .img-university {
        height: 60px;
        width: 60px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .name-university {
        color: #707070;
        font-size: 14px;
    }
    // ranking
    ul {
        padding: 0px;
        &.rating li {
            padding: 0px 5px !important;
            background: none;
            color: map-get($colors, primary);
            ;
            ion-icon {
                font-size: 30px;
            }
        }
    }
    //calendario
    [col-1] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 14.285714285714286%;
        width: 14.285714285714286%;
        max-width: 14.285714285714286%;
    }
    .col {
        text-align: center;
        padding: 5px;
    }
    .last-month,
    .next-month {
        color: #999999;
        font-size: 90%;
    }
    .currentDate,
    .otherDate {
        padding: 5px;
    }
    .currentDate {
        font-weight: bold;
        background-color: map-get($colors, secondary);
        color: white;
        border-radius: 20px;
    }
    .currentDate:hover {
        border: 1px solid map-get($colors, secondary);
        background-color: #fff;
        color: map-get($colors, secondary);
    }
    .calendar-header {
        padding: 5px;
        font-weight: bold;
        background-color: map-get($colors, primary);
        ;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-topright: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: #FFFFFF;
        font-size: 16px !important;
    }
    .selected-date {
        width: 20px;
        height: 2px;
        background-color: red;
    }
    .unselected-date {
        border: none;
    }
    .calendar-body {
        .grid {
            padding: 0;
        }
        .col:last-child {
            border-right: none;
        }
        .calendar-weekday,
        .calendar-date {
            text-align: center;
            margin: 0;
        }
        .calendar-weekday {
            font-weight: bold;
            border-bottom: solid 1px map-get($colors, primary);
            background-color: map-get($colors, primary);
        }
        .calendar-date {
            padding: 3px;
            border: solid 1px map-get($colors, primary);
            /*border-top: solid 1px map-get($colors, primary);
            border-bottom: solid 1px map-get($colors, primary);*/
        }
    }
    .single-university-soon {
        padding: 0px;
    }
    .button-view {
        float: left;
        position: absolute;
        left: -2px;
        top: 0px;
        background-color: map-get($colors, primary);
        border-radius: 50%;
        width: 56px;
        height: 56px;
        -webkit-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.65);
        box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.65);
    }
    .button-view ion-icon {
        margin-top: 8px;
        color: #fff;
        font-size: 38px;
    }
    .border-blue {
        -webkit-border-radius: 100px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius: 100px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-radius: 100px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid map-get($colors, primary);
        color: #707070;
        -webkit-box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.65);
        box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.65);
    }
    .date-soon {
        font-size: 11px;
    }
    .content-soon {
        margin-left: 35px;
        display: block;
    }
    .border-blue {
        padding: 12px;
    }
    // grid irregular for university features
    .grid-regular {
        display: grid;
        grid-auto-rows: minmax(min-content, max-content);
        grid-gap: 0px;
        align-items: start;
        grid-template-columns: 50% 50%;
    }
    .university-container {
        border-radius: 5px;
        padding: 5px;
    }
    .img-university-feature {
        border-radius: 5px;
    }
    // grid v2
    .columns {
        column-width: 220px;
        column-gap: 15px;
        width: 100%;
        max-width: 1100px;
        margin-bottom: 50px auto;
        margin-left: 50px auto;
        margin-right: 50px auto;
        margin-top: 10px;
    }
    div.columns figure {
        margin: 0 0 15px;
        display: inline-block;
        column-break-inside: avoid;
    }
    div.columns figure img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .bg-error {
        background-color: map-get($colors, danger);
        color: #fff;
    }
    .bg-warning {
        background-color: map-get($colors, yellow);
    }
    .card-text-error,
    .title-error {
        color: #fff;
    }
    .title-error {
        font-size: 14px;
    }
    .card-text-error {
        font-size: 11px;
    }
    .btn-create {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
        border-radius: 5px;
        text-transform: lowercase;
    }
    .red {
        background-color: map-get($colors, danger);
        border: 1px solid #fff;
        border-radius: 5px;
    }
    .yellow {
        background-color: map-get($colors, yellow);
        border: 1px solid #fff;
        border-radius: 5px;
    }
    .icon-white {
        color: #fff;
    }
    .bg-1 {
        background-color: red;
    }
    .bg-2 {
        background-color: green;
    }
    .bg-3 {
        background-color: yellow;
    }
    ion-slide {
        img {
            margin-top: 15px;
            border-radius: 5px;
            height: 220px!important;
            -webkit-box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.65);
            -moz-box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.65);
            box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.65);
            transition: all .2s;
        }
        img:hover {
            -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
        }
    }
}