<ion-header>
    <div class="search-toolbar">
        <i class="fa fa-search " aria-hidden="true"></i>
        <input [(ngModel)]="txtSearch" type="text" class="txt-search" placeholder="{{ 'Inicio.buscar_universidad' | translate}}" (onchange)="viewResults()" (keydown)="viewResults()" (keypress)="viewResults()">
    </div>
</ion-header>

<ion-content padding>
    <div *ngIf="!results">
        <!--init verified-->
        <span class="title">{{"Inicio.universidades_destacadas" | translate}}</span>
        <ion-slides loop slidesPerView="3" spaceBetween="16" loop>
            <ion-slide *ngFor="let university of featuresUniversities " text-center>
                <img [src]="university.imgsrc" (click)="viewUniversity(university.id)">
            </ion-slide>
        </ion-slides>
        <!--end verified-->

        <br><br>
        <span class="title">{{"Inicio.universidades_cercanas" | translate}}</span>
        <div id="map_canvas"></div>
        <div class="container-universities-cercanas">
            <ion-grid>
                <ion-row>
                    <ion-col *ngFor="let nearbyUniversity of nearbyUniversities" (click)="viewUniversity(featureUniversity.id)">
                        <div class="single-university-cercana">
                            <img [src]="nearbyUniversity.imgsrc">
                            <div class="info-container">
                                <p class="title-u-cercana">{{nearbyUniversity.name}}</p>
                                <rating [(ngModel)]="nearbyUniversity.rate" class="min-rating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <br><br>

        <!--init verified-->
        <span class="title">{{"Inicio.universidades_evaluadas" | translate}}</span>

        <div class="list-universities-valuet">
            <div class="single-university" *ngFor="let evaluateUniversity of evaluatesUniversities" (click)="viewUniversity(featureUniversity.id)">
                <ion-grid>
                    <ion-row>
                        <ion-col col-3>
                            <img class="img-circle img-university" [src]="evaluateUniversity.imgsrc">
                        </ion-col>
                        <ion-col col-9>
                            <span class="name-university">{{evaluateUniversity.name}}</span>
                            <rating class="no-space" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
        <!--end verified-->
        <!-- init verified-->
        <br><br>
        <span class="title">{{"Inicio.inicio_proximo" | translate}}</span>
        <br><br>
        <div class="comming-soon">
            <div class="single-university-soon" *ngFor="let universityDay of universityDays">
                <ion-grid>
                    <ion-row>
                        <img class="img-soon" [src]="universityDay.imgsrc">
                        <ion-col class="panel-info border-blue">
                            <div class="button-view center" (click)="viewUniversity(universityDays.id)">
                                <ion-icon name="calendar"></ion-icon>
                            </div>
                            <div class="content-soon center">
                                <span class="title-soon">{{universityDay.name}}</span>
                                <br>
                                <span class="date-soon">{{universityDay.date}}</span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
        <!-- end verified-->

    </div>


    <!-- for searchs-->
    <div *ngIf="results">
        <span class="title">{{"Inicio.Resultados" | translate}}</span>
        <div class="result-single">
            <ion-card>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-PAoJLgZVF5T0y2DjY9ZElKgm4OpHkXsGdMXEhCswBWBa_fng" />
                <ion-card-content>
                    <ion-card-title>
                        <span>Nine Inch Nails Live</span>
                    </ion-card-title>
                    <p class="card-text">
                        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
                    </p>
                </ion-card-content>
                <ion-row>
                    <ion-col col-9>
                        <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
                    </ion-col>
                    <ion-col col-3 center text-center>
                        <ion-note>
                            <button (click)="viewUniversity()" class="btn-show">{{"Inicio.Ver" | translate}}</button>
                        </ion-note>
                    </ion-col>
                </ion-row>
            </ion-card>
        </div>
        <div class="result-single">
            <ion-card>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-PAoJLgZVF5T0y2DjY9ZElKgm4OpHkXsGdMXEhCswBWBa_fng" />
                <ion-card-content>
                    <ion-card-title>
                        <span>Nine Inch Nails Live</span>
                    </ion-card-title>
                    <p class="card-text">
                        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
                    </p>
                </ion-card-content>
                <ion-row>
                    <ion-col col-9>
                        <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
                    </ion-col>
                    <ion-col col-3 center text-center>
                        <ion-note>
                            <button (click)="viewUniversity()" class="btn-show">{{"Inicio.Ver" | translate}}</button>
                        </ion-note>
                    </ion-col>
                </ion-row>
            </ion-card>
        </div>
        <div class="result-single">
            <ion-card>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-PAoJLgZVF5T0y2DjY9ZElKgm4OpHkXsGdMXEhCswBWBa_fng" />
                <ion-card-content>
                    <ion-card-title>
                        <span>Nine Inch Nails Live</span>
                    </ion-card-title>
                    <p class="card-text">
                        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
                    </p>
                </ion-card-content>
                <ion-row>
                    <ion-col col-9>
                        <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
                    </ion-col>
                    <ion-col col-3 center text-center>
                        <ion-note>
                            <button (click)="viewUniversity()" class="btn-show">{{"Inicio.Ver" | translate}}</button>
                        </ion-note>
                    </ion-col>
                </ion-row>
            </ion-card>
        </div>
        <div class="result-single">
            <ion-card>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-PAoJLgZVF5T0y2DjY9ZElKgm4OpHkXsGdMXEhCswBWBa_fng" />
                <ion-card-content>
                    <ion-card-title>
                        <span>Nine Inch Nails Live</span>
                    </ion-card-title>
                    <p class="card-text">
                        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
                    </p>
                </ion-card-content>
                <ion-row>
                    <ion-col col-9>
                        <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
                    </ion-col>
                    <ion-col col-3 center text-center>
                        <ion-note>
                            <button (click)="viewUniversity()" class="btn-show">{{"Inicio.Ver" | translate}}</button>
                        </ion-note>
                    </ion-col>
                </ion-row>
            </ion-card>
        </div>


        <ion-card class="bg-error">
            <ion-card-content>
                <ion-card-title>
                    <ion-icon class="icon-white" name="sad"></ion-icon><span class="title-error">&nbsp;&nbsp;{{"Inicio.TituloResNo" | translate}}</span>
                </ion-card-title>
                <p class="card-text-error">
                    {{"Inicio.ContenidoResNo" | translate}}
                </p>
            </ion-card-content>
            <ion-row>
                <ion-col col-9>
                </ion-col>
                <ion-col col-3 center text-center>
                    <ion-note>
                        <button (click)="createUniversity()" class="btn-create red">{{"Inicio.Crear" | translate}}</button>
                    </ion-note>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card class="bg-warning">
            <ion-card-content>
                <ion-card-title>
                    <ion-icon class="icon-white" name="happy"></ion-icon><span class="title-error">&nbsp;&nbsp;{{"Inicio.TituloResEnd" | translate}}</span>
                </ion-card-title>
                <p class="card-text-error">
                    {{"Inicio.ContenidoResEnd" | translate}}

                </p>
            </ion-card-content>
            <ion-row>
                <ion-col col-9>
                </ion-col>
                <ion-col col-3 center text-center>
                    <ion-note>
                        <button (click)="createUniversity()" class="btn-create yellow">{{"Inicio.Crear" | translate}}</button>
                    </ion-note>
                </ion-col>
            </ion-row>
        </ion-card>

    </div>
</ion-content>