page-saved {
    ion-card,
    img {
        border-radius: 10px;
    }
    .single-university {
        position: relative;
    }
    .centered {
        border-radius: 5px;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 75%;
        text-align: center;
        transform: translate(-50%, -50%);
        background: #0055cb;
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, #0055cb 0%, #3880ff 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #0055cb 0%, #3880ff 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #0055cb 0%, #3880ff 100%);
    }
    button {
        background: none;
        position: absolute;
        top: 10px;
        right: 0px;
        float: right;
        margin-right: 10px;
        color: map-get($colors, danger);
        font-size: 30px!important;
    }
    h1 {
        font-size: 16px!important;
    }
    p,
    h1 {
        color: white!important;
    }
    p {
        font-size: 11px!important;
    }
}